{% extends 'base.html' %}
{% block title %} {{ category.name }} {% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
    <div class="col-md-3">
        <h2>Category:</h2>
        <ul>
            {% for cat in cats %}
            <li>
        {#<a href="/post/index/{{ cat.id }}/">{{ cat.name }}</a>#}
                <a href="{% url 'index'  cat.id %}">{{ cat.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
    <h2>Marfuri:</h2>
    
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Denumire</th>
            <th>In stoc</th>
            <th>Price</th>
        </tr>
        {% for good in goods %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'good' good.id %}">{{ good.name }}</a></td>
            <td>{% if good.in_stock %} + {% else %} - {% endif %}</td>
            <td>{{ good.price|floatformat:"2"}}</td>
        </tr>
        {% endfor %}
    </table>



    </div>
    <div class="col-md-3">
        <h2>Descrierea marfurilor:</h2>
        {% if goods.0.price < 10000 %}
            <p>{{ goods|random }}</p>
        {% else %}
           <p>Pretul este mai mare de 10000</p>
        {% endif %}
    </div>
    </div>
{% if goods.paginator.num_page > 1 %}
    <div>
        {% if goods.has_previous %}
            <div>
                <a href="{% url 'index' id=caregory.pk %}?page={{ goods.previous_page_number }}">&lt;000</a>
            </div>
        {% endif %}
        {% if goods.has_next %}
            <div>
                <a href="{% url 'index' id=category.id %}?page={{ goods.next_page_number }}">&gt;111</a>
            </div>
        {% endif %}

{%  endif %}
    </div>

</div>
{% endblock %}
