{% extends 'post/base_post.html' %}
{% block title %}
{{ post.plecat_din }} - {{ post.sosit_in }}
{% endblock %}

{% block main %}
<div class="container-fluid text-left">
    <h2>DETALII ANUNT:</h2>
    <p>Directia: {{ post.plecat_din }} - {{ post.sosit_in }}</p>
    <p>Descrierea incarcaturii: {{ post.description | default:"contactati pentru detalii"  }}</p>
    <p>Pretul: {{ post.price|default:'NEGOCIABIL' }}</p>

    <p>Data postarii: {{ post.data_publ| date:"d.m.Y"  }}</p>
    <p><a href="{% url 'posts_1' %}">Back</a></p>
</div>
{% endblock %}